.btn {
  border-radius: 12px;
  padding: 16px 48px;
  width: 183px;
  height: 60px;
  background-color: var(--color-accent-first);
  cursor: pointer;
  border: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: var(--color-text-dark);
}
.btn:hover,
.btn:focus {
  background-color: var(--color-accent-second);
}
