.wrapper {
  width: 583px;
  height: 74px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.lable {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--color-text-dark-gray);
  margin-bottom: 8px;
}

.select {
  border-radius: 14px;
  border: 0;
  padding: 12px 18px;
  width: 221px;
  height: 48px;
  background-color: var(--color-backgound-main);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: var(--color-text-dark);
}
