:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  --font-family: "Roboto", sans-serif;
  --color-backgound-main: #fff;
  --color-background-gray: #f8f8f8;
  --color-accent-first: #9fb7ce;
  --color-accent-second: #bfd6ea;
  --color-text-dark: #121417;
  --color-text-dark-gray: #8a8a89;
  --color-text-gray: rgba(18, 20, 23, 0.7);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
}
